@import 'https://fonts.googleapis.com/css?family=Crimson+Text|Lato';

body{
	padding:0;
	margin:0;
  background: url('../img/wall.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2,h3,h4,h5,h6{
	
	font-family: "Lato",sans-serif;
}
h1{
  font-size:50px;
}
h2{
  font-size:42px;
}
h3{
  font-size:38px;
}
h4{
  font-size:34px;
}
h3{
  font-size:30px;
}
h6{
  font-size:26px;
}
p{
	font-size:18px;
	font-family: "Lato",sans-serif;

}

a{
	margin:0;
	padding:0;
	font-family: "Lato",sans-serif;
  font-size:18px;
}

div{
	
	box-sizing:border-box; 
}

/*===========animations===========*/


/*=======rotation======*/
@keyframes rotation{
	100%{transform:rotate(360deg);}
	

}
@-webkit-@keygrames rotation{
	100%{transform:rotate(360deg);}
}
/*=========pulse===========*/
@keyframes pulse{
	0%{transform: scale(1);}
	50%{transform: scale(1.2);}
	100%{transform: scale(1);}
}
@-webkit-@keyframes pulse{
	0%{transform: scale(1);}
	50%{transform: scale(1.2);}
	100%{transform: scale(1);}
}

/*=========bounce in right===========*/


@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/*======================bounce in====================*/

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}











@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}




/*====================================================
=======================SECTION 1======================
=====================================================*/

#section1 .navbar-default{
	background-color:#1d1d1d;
	border:none;
	padding: 0;
	margin:0;
	border-radius: 0;
  box-shadow: 5px 5px 10px #000;



}

.navbar-toggle{
	background-color:#fff;
}
.icon-bar{
	background-color: #FF5B39;
}
.navbar-collapse{
	border:none;
}
.navbar-default li{
	text-align: center;
}
#section1 ul li a{
	color:#fff;
	font-size:18px;
	font-family: 'Lato Light',sans-serif;
}
#section1 ul li a:hover{
	background-color:#FF5B39;
	color: #fff;
	transition:0.4s linear;
	-webkit-transition:0.4s linear;

}








/*=====================================================
========================SECTION 2======================
======================================================*/

#section2{
	padding-top: 100px;
	
	
	text-align: center;
}
.s2-img{
	background-color: #fff;
	width:120px;
	height:120px;
	border-radius: 100px;
	margin:0 auto;
}
.s2-img img{
  padding: 5px;
	width:120px;
	border-radius: 200px;
}

/*======animation======*/
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  border-radius:100px;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #FF5B39 solid 2px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  border-radius:100px;

}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}






#section2 a{
	text-decoration: none;
}








/*=============================================
================SECTION 3======================
==============================================*/


#section3{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;

}
#section3 h1{
	
	text-align: center;
	font-family: "Lato Light",sans-serif;
  padding-bottom: 20px;
}
#section3 p{
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 35px;
  text-align: justify-all;
	
  
}
.completed{
  color:#023F88;
}
.uncompleted{
  color:#ffb366;
}
#section3 h4{
  padding-bottom: 30px;
  
}

#section3 h3{
	text-align: center;
	line-height: 40px;
  
  padding-bottom: 30px;
}
#section3 h5{
  font-weight:900;
}
.myedu{
  border-top: 1px solid #F2F2F1;
  padding-top: 150px;
  
}
#section3 img{
  width:250px;
  padding:20px;
}
#section3 i{
   color:#023F88;
  

  
}
.edu{
  border-top: 1px solid #F2F2F1;
  padding-top: 20px;
  
  
}
.edu p{
  color:#777777;
}






/*=================================================
===================SECTION 4=======================
=================================================*/

#section4{
	
	
	padding-bottom: 50px;
}
#section4 h1{
  padding-top: 100px;
	color:#fff;
	font-family: "Lato Light",sans-serif;
	padding-bottom: 100px;
}
#section4 h4, #section4 p{
	color:#fff;
}
#section4 h3{
	color:#FF5B39;

}
#section4 h4{
	padding-bottom: 40px;
}
#section4 p{
	
	font-size: 16px;
	
	line-height: 30px;
}
.fa-eye,.fa-sitemap,.fa-search{
	background-color: #fff;
	padding: 30px;
	border:1px solid #EFEFEF;
	border-radius: 100px;
	color:#FF5B39;
	margin-bottom: 40px;
}
#section4 span{
	color:#FF5B39;
}

.white img{
	width:50px;
}
.white{
	width:50px;
	margin:0 auto;
}
.white-out{
  width:50px;
  margin:0 auto;

}
.white-out button{
  margin-top: 50px;
  border:none;
  padding:5px 10px 5px 10px;
  border-radius: 5px;
  background-color: transparent;
}
.white-out img{
  width:20px;
  margin:0 auto;
}
.arrow{
  
  
  animation:1.5s pulse ease-in infinite;
  -webkit-animation:1.5s pulse ease-in infinite;
}


/*================SECTION 4b=================*/

#section4b{
  
  padding-bottom: 50px;
  

}

#section4b h3{
  color:#FF5B39;\

}
#section4b h4{
  color:#fff;
}
#section4b p{
  color:#fff;
  font-size: 16px;
  
  line-height: 30px;
}
#section4b h1{
  color:#fff;
  font-family: "Lato Light",sans-serif;
  padding-top: 40px;
}
#section4b span{
  color:#FF5B39;;
}
#section4b i{
  padding-top: 50px;
  padding-bottom: 50px;
}


/*====================================================
====================SECTION 5=========================
=====================================================*/
.line-1{
  position:relative;
  top:80px;
  width:600px;
  margin:0 auto;
  border-right:2px solid rgba(0,0,0,.75);
  
  text-align:center;
  white-space:nowrap;
  overflow:hidden;
  transform:translateY(-50%);
  
}

/*animation*/

.anim-typewriter{
    animation:typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite  normal;
      
  
  

}

@keyframes typewriter{
  from{
    width:0;
  }
  to{
    width:600px;
  }
  
}
-webkit-@keyframes typewriter{
  from{
    width:0;
  }
  to{
    width:600px;
  }
  
}

@keyframes blinkTextCursor{
  from{
    border-right-color: rgba(0,0,0,.75);
  }
  
  to{
    border-right-color: transparent;
      }
  
}
-webkit-@keyframes blinkTextCursor{
  from{
    border-right-color: rgba(0,0,0,.75);
  }
  
  to{
    border-right-color: transparent;
      }
  
}



#section5 h2{
  
  font-family: "Lato",sans-serif;
  color:#FF5B39;
}

#section5 h3{
	color:#fff;
	text-align: center;
  margin-bottom: 100px;
  font-size:24px;
  font-family: "Lato",sans-serif;
	
}
#section5 span{
  color:#FF5B39;
}
#section5 i{
  color:#333;

}
#section5 h4{
  padding-top: 20px;
	color:#FF5B39;
	 
}
#section5 a{
  margin-bottom: 50px;
}
#section5 p{
  color:#fff;
  font-family: "Lato Light",sans-serif;
  padding-bottom: 30px;
}
#section5 img{
  width:100px;
}

#section5 h5{
  padding-top: 20px;
  padding-bottom: 20px;
  color:#fff;
  font-size:24px;
   font-family: "Lato",sans-serif;
}


/*===========animation==============*/
.hvr-curl-top-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-bottom: 25px;
}
.hvr-curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(135deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  /*For IE7-8-9*/
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-top-left:hover:before, .hvr-curl-top-left:focus:before, .hvr-curl-top-left:active:before {
  width: 25px;
  height: 25px;
}


.contactBtn{
	padding-top: 100px;
}
.contactBtn a{
	padding: 15px 35px 15px 35px;
	background-color: #FF5B39;
	text-decoration: none;
	color:#fff;
	border-radius: 50px;

}
.contactBtn a:hover{
	text-decoration: none;
	background-color: #FF8168;
	transition:0.2s linear;
	-webkit-transition:0.2s linear;
	
}





/*==================================================
=======================SECTION 6====================
===================================================*/
#section6{
	padding-top: 50px;
	background-color: #FF5B39;
	padding-bottom: 20px;
}
#section6 h1{
	color:#fff;
	padding-bottom: 50px;
	
}
#section6 p{
	color:#fff;
	font-size:18px;
}
#section6 a{
	text-decoration: none;
	color:#fff;
	font-size: 18px;


}
#section6 a:hover{
	text-decoration: none;
  color:#1d1d1d;
}

i{
  margin-left: 5px;
	color:#fff;
}
.fa-facebook-square, .fa-linkedin-square, .fa-google-plus-square{
	
  color:#fff;
}
.fa-facebook-square:hover, .fa-linkedin-square:hover, .fa-google-plus-square:hover{
  
color:#1d1d1d;
}

#section6 iframe{
	
	width:100%;
	height:300px;

}
.frame{
	padding-top: 50px;

}

.copy h6{
  color:#fff;
  font-size:14px;
}
.copy{
  background-color:#1d1d1d;

	padding-top: 5px;
	padding-bottom: 5px;
}
